body {
  margin: 0;
  padding: 0;
  background-color: rgba(10, 15, 25);
  height: 1000px;
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
  color: aliceblue;
}

.poppins-semibold {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-thin {
  font-family: "Poppins", serif;
  font-weight: 200;
  font-style: normal;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 35px;
  background-color: rgb(17, 26, 44);
  position: sticky;
  width: 100%;
  box-sizing: border-box;
  top: 0;
}

.logo-company img {
  width: 40px;
  height: 40px;
  background-size: cover;
  border-radius: 50%;
  margin-top: 10px;
  margin-left: 10px;
}

nav {
  margin-right: 20px;
}

nav ul {
  display: flex;
  gap: 40px;
  list-style: none;
  padding: 0;
}

nav ul li a {
  text-decoration: none;
  color: aliceblue;
  padding: 10px 15px;
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
  display: inline-block;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

nav ul li a:hover {
  color: #b2c9ad;
  transform: translateY(-3px) scale(1.05);
}

.header-main {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1px;
}

.gradient-text {
  font-size: 60px;
  font-weight: bold;
  background: linear-gradient(to right, #3ddc97, #258aff); /* Hijau ke Biru */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main-content {
  display: flex;
  gap: 50px;
  padding: 60px;
}

.banner,
.contact {
  box-shadow: 0px 8px 20px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  overflow: hidden;
}

.banner {
  flex: 2;
  background-image: url(../assets/main.jpg);
  background-size: cover;
  background-position: center;
  height: 90vh;
}

.contact {
  flex: 1;
  margin-left: 35px;
  display: flex;
  flex-direction: column;
}

.judul-contact {
  padding: 40px 50px;
}

.judul-contact p {
  font-size: small;
  color: rgba(156 163 175);
}

.form-contact {
  display: flex;
  flex-direction: column;
}
