body {
  margin: 0;
  padding: 0;
  background-color: rgba(10, 15, 25);
  height: 2000px;
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
  color: aliceblue;
}

.poppins-semibold {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-thin {
  font-family: "Poppins", serif;
  font-weight: 200;
  font-style: normal;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 35px;
  background-color: rgb(17, 26, 44);
  position: sticky;
  width: 100%;
  box-sizing: border-box;
  top: 0;
}

.logo-company img {
  width: 40px;
  height: 40px;
  background-size: cover;
  border-radius: 50%;
  margin-top: 10px;
  margin-left: 10px;
}

nav {
  margin-right: 20px;
}

nav ul {
  display: flex;
  gap: 40px;
  list-style: none;
  padding: 0;
}

nav ul li a {
  text-decoration: none;
  color: aliceblue;
  padding: 10px 15px;
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
  display: inline-block;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

nav ul li a:hover {
  color: #b2c9ad;
  transform: translateY(-3px) scale(1.05);
}

.header-main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.gradient-text {
  font-size: 60px;
  font-weight: bold;
  background: linear-gradient(to right, #3ddc97, #258aff); /* Hijau ke Biru */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main-content {
  display: flex;
  gap: 50px;
  margin: 40px 100px 0px;
}

.banner {
  flex: 2;
}

.banner-content {
  display: flex;
  flex-direction: column;
}

.contact {
  box-shadow: 0px 8px 20px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.banner-content img {
  width: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}

.banner-content em {
  font-size: 1.1em;
  margin: 50px auto;
}

.contact {
  flex: 1;
  margin-left: 35px;
}

.contact-container p {
  font-size: small;
  color: rgba(156 163 175);
}

.contact-container {
  max-width: 350px; /* Batas lebar agar form sejajar dengan teks */
  padding: 40px;
  box-sizing: border-box;
  margin: 10px auto 0px;
}

.form-contact {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 50px;
}

.form-contact input,
.form-contact select {
  width: 100%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
}

.form-contact input:focus,
.form-contact select:focus {
  outline: none;
  border-color: #1083ff;
}

.form-contact button {
  margin-top: 70px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #22c55e;
  color: aliceblue;
  cursor: pointer;
  font-size: 15px;
  transition: all 0.3s ease-in-out;
}

.form-contact button:hover {
  background-color: #16a34a;
  transform: translateY(-3px) scale(1.05);
}

.judul-package {
  display: flex;
  justify-content: center;
  font-size: 1.5em;
}

.content-package {
  margin-top: 80px;
  background-color: #b2c9ad;
}
